<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan a Book</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

   <!-- Navigation Bar -->
   <nav>
    <div class="left-links">
        <a href="home">Home</a>
        <a href="books_list">Books List</a>
        {% if session['is_admin'] == 1 %}
            <a href="add_book">Add a New Book</a>
            <a href="delete_book">Delete a Book</a>
        {% endif %}
        <a href="loan_book">Loan a Book</a>
        <a href="return_book">Return a Book</a>
    </div>
    <a href="logout" class="right-link">Logout</a>
</nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            
            <div class="alert {{category}} ">
               <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
               {{message}}
             </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    
    <form class="small-form" action="{{ url_for('loan_book')}}" method="POST">
        <h1>Loan a Book</h1>
        <input type="text" name="bookID" placeholder="Enter Book ID to Loan" required>
        <button type="submit">Loan Book</button>
    </form>


    <script>
        // Function to automatically hide all alerts after 30 seconds
        function hideAlerts() {
          var alerts = document.querySelectorAll('.alert');
          alerts.forEach(function(alert) {
            setTimeout(function() {
              alert.style.display = 'none';
            }, 5000); // 30 seconds
          });
        }
      
        // Call the function when the page loads
        window.onload = hideAlerts;
      </script>
      
</body>
</html>