<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            
            <div class="alert {{category}} ">
               <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
               {{message}}
             </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}


    <form class="small-form" method="POST">
        <h1>Register</h1>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="text" name="first-name" placeholder="Last Name" required><br>
        <input type="text" name="last-name" placeholder="Last Name" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Register</button>
        <a href="{{ url_for('login') }}">Already have an account? Log in here.</a>
    </form>

    <script>
        window.addEventListener('pageshow', function(event) {
            var historyTraversal = event.persisted || 
                (typeof window.performance != 'undefined' && 
                     window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Clear flash messages
                document.querySelectorAll('.flash-message').forEach(function(element) {
                    element.style.display = 'none';
                });
            }
        });
    </script>

    <script>
        // Function to automatically hide all alerts after 30 seconds
        function hideAlerts() {
        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            setTimeout(function() {
            alert.style.display = 'none';
            }, 5000); // 30 seconds
        });
        }
    
        // Call the function when the page loads
        window.onload = hideAlerts;
    </script>
    
</body>
</html>